{% set currentUrl = page.url %}

<header id="site-header">
  <div class="container">
    <h1>{{ meta.siteName }}</h1>
  {% if currentUrl === '/' %}
    <h2 >{{ meta.siteDescription }}</h2>
  </div>
    {% include 'logo.njk' %}
  {% endif %}
</header>