<span class="logo">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400.96 249.28">
        <defs>
          <style>
            .a59e287d-dd79-418f-945e-2be028e1ba6d,
            .ad545896-08cc-4c2d-b57f-15bf54eabd82,
            .ae6fb684-09d5-4a7f-96e2-d605cc3c8b83,
            .b5e7dde8-a9bd-4897-9e91-53840cca5e83,
            .bb8b4b59-a8c9-46a7-b9cf-d16a6137107f,
            .e97b6a6e-dda7-4481-9356-51b10ae28332,
            .f855ad9b-c522-4cf5-b881-807058c6d2b0 {
              fill: #fff;
              stroke-miterlimit: 10;
              stroke-width: 16px;
            }
            .f855ad9b-c522-4cf5-b881-807058c6d2b0 {
              stroke: ivory;
            }
            .ae6fb684-09d5-4a7f-96e2-d605cc3c8b83 {
              stroke: #ed1c24;
            }
            .bb8b4b59-a8c9-46a7-b9cf-d16a6137107f {
              stroke: #f15a24;
            }
            .ad545896-08cc-4c2d-b57f-15bf54eabd82 {
              stroke: #fcee21;
            }
            .e97b6a6e-dda7-4481-9356-51b10ae28332 {
              stroke: #0071bc;
            }
            .b5e7dde8-a9bd-4897-9e91-53840cca5e83 {
              stroke: #1b1464;
            }
            .a59e287d-dd79-418f-945e-2be028e1ba6d {
              stroke: #93278f;
            }
          </style>
        </defs>
        <g id="b32f45ee-9ccb-492d-87ad-3db9e22af213" data-name="Layer 2">
          <g id="f1706f2e-06c9-42a5-9c94-291c2c1e9f27" data-name="Layer 1">
            <line class="f855ad9b-c522-4cf5-b881-807058c6d2b0" x1="8" y1="2.01" x2="8" y2="123.9" />
            <line
              class="ae6fb684-09d5-4a7f-96e2-d605cc3c8b83"
              x1="24"
              y1="2.01"
              x2="24"
              y2="123.9"
            />
            <line
              class="f855ad9b-c522-4cf5-b881-807058c6d2b0"
              x1="79.04"
              y1="2.01"
              x2="79.04"
              y2="179.28"
            />
            <line
              class="bb8b4b59-a8c9-46a7-b9cf-d16a6137107f"
              x1="93.04"
              y1="2.01"
              x2="93.04"
              y2="179.28"
            />
            <line
              class="f855ad9b-c522-4cf5-b881-807058c6d2b0"
              x1="150.58"
              y1="2.01"
              x2="150.58"
              y2="249.28"
            />
            <line
              class="ad545896-08cc-4c2d-b57f-15bf54eabd82"
              x1="166.58"
              y1="2.01"
              x2="166.58"
              y2="249.28"
            />
            <line
              class="f855ad9b-c522-4cf5-b881-807058c6d2b0"
              x1="222.65"
              y1="1.01"
              x2="224.5"
              y2="124.51"
            />
            <line
              class="e97b6a6e-dda7-4481-9356-51b10ae28332"
              x1="238.65"
              y1="1.01"
              x2="240.5"
              y2="124.51"
            />
            <line
              class="f855ad9b-c522-4cf5-b881-807058c6d2b0"
              x1="302.38"
              y1="0.42"
              x2="297.15"
              y2="177.92"
            />
            <line
              class="b5e7dde8-a9bd-4897-9e91-53840cca5e83"
              x1="318.26"
              y1="0.59"
              x2="311.03"
              y2="178.09"
            />
            <line
              class="f855ad9b-c522-4cf5-b881-807058c6d2b0"
              x1="376.5"
              y1="0.01"
              x2="376.96"
              y2="247.51"
            />
            <line
              class="a59e287d-dd79-418f-945e-2be028e1ba6d"
              x1="392.5"
              y1="0.01"
              x2="392.96"
              y2="247.51"
            />
          </g>
        </g>
      </svg>
    </span>