{% set currentUrl = page.url %}

<nav>
    <div class="container">
      <ul>
        <div class="container">
          {% for link in collections.pages %}
          <li id="{{ link.data.title | lower }}" class="big-box">
            {% if link.data.title === "contact" %}
              <a href="mailto:{{ env.EMAIL_ADDRESS }}">{{ link.data.title }}</a>
            {% else %}
              <a href="{{ link.url }}">{{ link.data.title }}</a>
            {% endif %}
          </li>
          {%- endfor %}
          {% if currentUrl != '/' %}
            <li id="home" class="big-box">
              <a href="/">home</a>
            </li>
          {% endif %}
        </div>
      </ul>
    </div>
</nav>
