{% set currentUrl = page.url %}

<nav>
    <div class="container">
      <ul>
        <div class="container">
          {% for link in collections.pages %}
          <li id="{{ link.data.title | lower }}">
            {% if link.data.title === "contact" %}
              <a href="mailto:{{ env.EMAIL_ADDRESS }}" class="big-square">{{ link.data.title }}</a>
            {% else %}
              <a href="{{ link.url }}" class="big-square">{{ link.data.title }}</a>
            {% endif %}
          </li>
          {%- endfor %}
          {% if currentUrl != '/' %}
            <li id="home">
              <a href="/" class="big-square">home</a>
            </li>
          {% endif %}
        </div>
      </ul>
    </div>
</nav>
