{% set currentUrl = page.url %}

<nav>
  {% if currentUrl != '/' %}
  <a href="/">home</a>
  {% endif %}
  <ul>
    {% for link in collections.pages %}
    <li id="{{ link.data.title | lower }}">
      <a href="{{ link.url }}">{{ link.data.title }}</a>
    </li>
    {%- endfor %}
  </ul>
</nav>
