---
layout: page.njk
---

<article>
  <h2>{{ title }}</h2>
  <time datetime="{{ collections.posts[0].data.page.date | isoDate }}">{{ collections.posts[0].data.page.date | humanDate }}</time><br>
  {{ content | md | safe }}
  {% footnotes %}
</article>