---
title: projects
---

<h2>projects</h2>
<ul>
  {% for project in collections.projects %}
  {{
    project | log
  }}
  <li>
    <article>
      <header>
        <h3>
          <a href="{{ project.data.link }}">{{ project.data.title }}</a>
        </h3>
        <p>{{ project.data.excerpt }}</p>
      </header>
      {{ project.templateContent | safe }}
    </article>
  </li>
  {% endfor %}
</ul>
