---
title: projects
---

<main>
  <h3>{{ title }} - blah</h3>
  <p>Greenfield .NET emoji protected reflection void markup DSL perf matters. Rm -rf * bitwise operator Github child streams architecture. Class OTP cowboy coding Babel sudo budget XML instance driver engineer.</p>
</main>