---
title: projects
order: 1
---

<ul>
  {% for project in collections.projects %}
  <li>
    <article>
      <header>
        <h3>
          <a href="{{ project.data.link }}">{{ project.data.title }}</a>
        </h3>
        <p>{{ project.data.excerpt }}</p>
      </header>
      {% if project.data.screenshot %}
        {% image project.data.screenshot, project.data.alt %}
      {% endif %}
      {{ project.templateContent | safe }}
    </article>
  </li>
  {% endfor %}
</ul>
