---
layout: page.njk
title: home
pagination:
  data: collections.posts
  size: 2
  alias: posts
templateEngineOverride: njk, md
---
{% snippet %}

###  about me

Circle *back* Safari `gradle` frame rate sudo JSX JSON consensus Edge. Spaghetti code promise private reactive Ruby i presenter lang reflection Vue.

{% image "/images/self.jpg", "a picture of me", "snippet-image" %}

Contributor serverless model DAG i elixir commit constant class hardcoded. Cowboy coding sudo cross-post child concurrent AI ELF GraphQL vaporware.

{% endsnippet %}


<h2>posts</h2>
<ul>
  {% for post in posts %}
  <li>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
    <p>{{ post.data.excerpt }}</p>
  </li>
  {% endfor %}
</ul>