@use 'theme';
@use '_utilities';

footer {
  background: theme.color('near-black');
  color: theme.color('near-white');
  padding: 10vw 0 5vw;
  flex: 1;
  align-content: flex-end;
  > .container {
    justify-content: space-around;
    align-items: center;
  }
  ul {
    flex: 1 0 100vw;
    @media screen and (min-width: 1024px) {
      flex: inherit;
    }
    li {
      flex: 1;
      @media screen and (min-width: 768px) {
        flex: inherit;
      }
    }
    > .container {
      @media screen and (min-width: 768px) {
        gap: clamp(1.125rem, 2vw + 2ch, 4rem);
        justify-content: center;
      }
    }
  }
  .footer-links {
    justify-content: center;
    a {
      line-height: 24px;
      align-self: center;
    }
  }
  .social-icon {
    background: theme.color('near-black');
    display: inline-block;
    width: clamp(24px, 2vw + 1rem, 4rem);
    height: clamp(24px, 2vw + 1rem, 4rem);
    fill: theme.color('near-white');
  }
  p {
    padding-top: 8.333325vw;
    @media screen and (min-width: 1024px) {
      padding-top: inherit;
    }
  }
}
