header {
  width: 100vw;
  background-color: black;
  color: white;
  h1 {
    margin-top: 3rem;
    padding-bottom: 1.5rem;
  }
  h2 {
    margin-bottom: 3rem;
  }
}

.logo {
  position: relative;
  bottom: -2px;
  svg {
    transform: scaleY(-1);
  }
}
