@use 'theme';
@use 'utilities';

body {
  background-color: theme.color('background');
  &.page-main {
    > .container {
      height: 100%;
      display: grid;
      grid-auto-rows: calc(8.333325vh + 2rem) calc((100vw / 1.5) + 1.5em) 2fr 0
        1fr;
    }
    @media screen and (min-width: 768px) {
      grid-auto-rows: calc(8.333325vh + 2rem) calc(((100vw / 1.5) - 1.5em) / 4)
        2fr 0 1fr;
    }
  }
}

main {
  @media screen and (min-width: 768px) {
    > .container {
      display: grid;
      grid-template-columns: [left-gutter] 8.333325vw [column-1] 1fr [right-gutter] 8.333325vw [end];
      @media screen and (min-width: 1440px) {
        margin: 8.333325vw 0 4.1666625vw;
        grid-template-columns: [left-gutter] 8.333325vw [column-1] 1fr [center-gutter] 8.333325vw [column-2] 1fr [right-gutter] 8.333325vw;
        grid-auto-rows: 1fr;
      }
    }
    article {
      display: grid;
      grid-column: column-1;
      @media screen and (min-width: 1440px) {
        grid-template-rows: 8.333325vw 1fr;
        &:first-of-type {
          grid-column: column-1;
        }
        &:nth-of-type(2) {
          grid-column: column-2;
        }
      }
    }
  }
  &.page-main {
    @media screen and (min-width: 1024px) {
      flex: 0 1 calc(100% / 4);
      & > .container {
        display: flex;
      }
    }
  }
}

section,
article {
  max-width: 100%;
}

article {
  :is(h2, h3, h4, h5, h6) {
    padding-left: 0;
  }
}

:is(h2:not(header h2), h5, h6, section) {
  @extend %pl-standard;
  @media screen and (min-width: 768px) {
    flex-basis: 100%;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  h2:not(header h2) {
    border-bottom: 0.125rem solid theme.color(text);
    padding: 8.333325vw 0 0 4.1666625vw;
    @media screen and (min-width: 768px) {
      padding-left: 0;
    }
    @media screen and (min-width: 1024px) {
      margin-bottom: 0;
      align-self: end;
    }
  }
}

.sm-square {
  @extend %db;
  padding: 0.5rem;
}

.big-square {
  @extend %db;
  padding: calc(((100vw / 3) - 1.5em) / 2) 0;
  @media screen and (min-width: 768px) {
    padding: clamp(58px, calc(((100vw / 3) - 1.5em) / 4), 79.33px) 0;
  }
}

.footer-links {
  flex: 1 0 100%;
}
