@use 'theme' as t;
@use 'utilities' as u;

body {
  background-color: t.color('background');
  &.page-main {
    > .container {
      height: 100%;
      display: grid;
      grid-auto-rows: calc(8.333325vh + 2rem) 1fr 2fr 0 1fr;
    }
    @media screen and (min-width: 768px) {
      grid-auto-rows: calc(8.333325vh + 2rem) 2fr 0 1fr;
    }
  }
}

// start main
main {
  @media screen and (min-width: 768px) {
    /*
     * grid kicks in at 768px wide
     * columns will be: left-gutter | column-1 |{if screen is wider than   *1440px: center-gutter | column-2 |} right-gutter
     */
    > .container {
      display: grid;
      grid-template-columns: [left-gutter] 8.333325vw [column-1] 1fr [right-gutter] 8.333325vw [end];
      @media screen and (min-width: 1440px) {
        margin: u.main('small-pad') 0 4.1666625vw;
        grid-template-columns: [left-gutter] 8.333325vw [column-1] 1fr [center-gutter] 8.333325vw [column-2] 1fr [right-gutter] 8.333325vw;
        grid-auto-rows: 1fr;
      }
    }
    article {
      display: grid;
      grid-column: column-1;
      @media screen and (min-width: 1440px) {
        grid-template-rows: 8.333325vw 1fr;
        &:first-of-type {
          grid-column: column-1;
        }
        &:nth-of-type(2) {
          grid-column: column-2;
        }
      }
    }
  }
  // main content if we're not on the home page
  &.page-main {
    article {
      h3,
      p,
      picture {
        padding: u.main('med-pad') u.main('small-pad') u.main('vSmall-pad');
      }
      h3 {
        border-bottom: 0.125rem solid t.color(text);
        @media screen and (min-width: 768px) {
          padding-left: 0;
        }
        @media screen and (min-width: 1024px) {
          margin-bottom: 0;
          align-self: end;
        }
      }
    }
    @media screen and (min-width: 768px) {
      > .container {
        ul {
          grid-column: column-1;
        }
      }
    }
    @media screen and (min-width: 1024px) {
      flex: 0 1 calc(100% / 4);
      & > .container {
        display: flex;
      }
    }
  }
}
// end main

section,
article {
  max-width: 100%;
  flex: 1 0 100%;
}

article {
  :is(h2, h3, h4, h5, h6) {
    padding-left: 0;
  }
}

:is(h2:not(header h2), h5, h6, section) {
  padding: u.main('big-pad') u.main('small-pad') u.main('med-pad');
  @media screen and (min-width: 768px) {
    flex-basis: 100%;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  h2:not(header h2) {
    border-bottom: 0.125rem solid t.color(text);
    @media screen and (min-width: 768px) {
      padding-left: 0;
    }
    @media screen and (min-width: 1024px) {
      margin-bottom: 0;
      align-self: end;
    }
  }
}

.sm-square {
  @extend %db;
  padding: 0.5rem;
}

.big-box {
  @extend %db;
  text-align: center;
  padding: min(u.navbar('squareBox'), u.navbar('landscapeBox')) 0;
}

.footer-links {
  flex: 1 0 100%;
}
