@use 'theme';
@use 'utilities';

nav {
  width: 100%;
  a {
    @include utilities.nav-link;
    color: theme.color('near-white');
    align-self: flex-start;
    order: 2;
    padding: calc((33vw - 1.5em) / 4) 0;
  }
  a:not(ul a) {
    background: theme.color('near-black');
    position: relative;
    &::after {
      position: absolute;
      top: 0;
      left: calc(100vw / 3);
      content: '';
      width: calc(100vw / 3);
      height: 100%;
      background: theme.color('near-black');
      clip-path: polygon(
        100% 0%,
        0% 50%,
        0% 100%,
        0% 50%,
        100% 100%,
        100% 100%,
        100% 0%
      );
    }
  }
  ul {
    width: 100%;
    padding: 0;
  }
  li {
    flex: 1;
    &:nth-child(1) {
      background: theme.color('primary');
    }
    &:nth-child(2) {
      background: theme.color('primary-alt');
    }
    &:nth-child(3) {
      background: theme.color('secondary');
    }
  }
}
