@use 'theme';
@use 'utilities';

nav {
  width: 100%;
  a {
    @include utilities.nav-link;
    color: theme.color('near-white');
    align-self: flex-start;
    padding: calc((33vw - 1.5em) / 4) 0;
  }
  #home > a {
    background: theme.color('near-black');
    position: relative;
    &::after {
      position: absolute;
      top: 0;
      left: calc(100vw / 3);
      content: '';
      width: calc(100vw / 3);
      height: 100%;
      background: theme.color('near-black');
      clip-path: polygon(
        100% 0%,
        0% 50%,
        0% 100%,
        0% 50%,
        100% 100%,
        100% 100%,
        100% 0%
      );
      @media screen and (min-width: 768px) {
        width: calc(100vw / 6);
      }
      @media screen and (min-width: 1024px) {
        background: theme.color('near-white');
        width: calc(100% / 3);
        left: 0;
      }
    }
  }
  ul {
    width: 100%;
    padding: 0;
  }
  li {
    flex: 1 0 calc(100% / 3);
    max-width: calc(100% / 3);
    &:nth-child(1) {
      background: theme.color('primary');
    }
    &:nth-child(2) {
      background: theme.color('primary-alt');
    }
    &:nth-child(3) {
      background: theme.color('secondary');
    }
    @media screen and (min-width: 1024px) {
      flex: 1 0 calc(100% / 4);
    }
  }
}
