@use 'theme';
@use 'utilities';

.snippet {
  background: theme.color('gray-light');
  padding: 10vw 8.333325vw 5vw;
  @media screen and (min-width: 1024px) {
    padding: 4.1666625vw;
  }

  p {
    &:nth-of-type(1) {
      padding-right: 1em;
    }
  }
  h4 {
    margin: 1.5rem 0;
  }
}
