@use 'sass:map';
@use 'sass:color';

// colors
$base-colors: (
  'blue': #0071bb,
  'blue-dark': #1d185c,
  'blue-light': #aaffff,
  'red': #e51a24,
  'red-dark': #971707,
  'red-light': #ff6395,
  'yellow': #f6ea03,
  'yellow-dark': #f79011,
  'yellow-light': #f9ff7f,
  'near-black': #00000f,
  'near-white': #fffff0,
  'gray': #a0a0a0,
  'gray-dark': #555555,
  'gray-light': #d8d8d8,
) !default;

$green: color.adjust(map.get($base-colors, 'blue'), $hue: -120);

$color-theme: (
  'primary': map.get($base-colors, 'blue'),
  'primary-alt': map.get($base-colors, 'blue-dark'),
  'secondary': map.get($base-colors, 'red'),
  'secondary-alt': map.get($base-colors, 'red-dark'),
  'text': map.get($base-colors, 'near-black'),
  'background': map.get($base-colors, 'near-white'),
  'shadow': color.adjust(map.get($base-colors, 'near-black'), $alpha: -0.5),
) !default;

$colors: map-merge($base-colors, $color-theme);

@function color($key) {
  @return map-get($colors, $key);
}
