@use '_theme';
@use '_utilities';

@font-face {
  font-family: Alata;
  src: url('/fonts/Alata-Regular.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: Quattrocento;
  src: url('/fonts/Quattrocento-Regular.ttf') format('ttf');
  src: url('/fonts/Quattrocento-Bold.ttf') format('ttf');
  font-display: swap;
}

body {
  font-family: 'Quattrocento', serif;
}

:is(h1, h2, h3, h4, h5, h6, footer) {
  @extend %pl1;
  font-family: 'Alata', sans-serif;
}

blockquote {
  font-size: 0.875em;
  font-style: italic;
}

.container h2 {
  font-size: 1em;
  &:not(header h2) {
    margin: 2rem 0 1rem;
  }
}

.snippet {
  p {
    font-size: 2em;
  }
}

ul li {
  list-style: none;
}

footer {
  font-size: 0.875em;
}
