@font-face {
  font-family: Alata;
  src: url('/fonts/Alata-Regular.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: Quattrocento;
  src: url('/fonts/Quattrocento-Regular.ttf') format('ttf');
  src: url('/fonts/Quattrocento-Bold.ttf') format('ttf');
  font-display: swap;
}

body {
  font-family: 'Quattrocento', serif;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: 'Alata', sans-serif;
}

.container h2 {
  font-size: 1em;
  padding-left: 1em;
  margin: 2rem 0 1rem;
}

ul li {
  list-style: none;
}
