@use 'sass:map';

$vars: (
  'rootTextSize': 16px,
  'minTextSize-nav': 1.5rem,
  'minTextSize-header': 2rem,
  'maxTextSize-nav': 2.25rem,
  'maxTextSize-header': 4.5rem,
  'fluidTextSize': 2vw,
  'relativeTextSize': 1rem,
  'viewport-full': 100vw,
  'visible-full': 100%,
);

%pl1 {
  padding-left: 1rem;
}

%pl-standard {
  padding-left: 8.333325vw;
}

%db {
  display: block;
}

// navbar stuff

/*
 * nav button sizing
 * p = text padding
 * t = line-height (not font-size!)
 * x = 2p + t
 * p = x - t / 2
 */

@function oneThirdVisible($width) {
  @return calc($width / 3);
}

@function preferredTextSize($fluid, $relative) {
  @return calc($fluid + $relative);
}

@function navTextSize($min, $pref, $max) {
  @return clamp($min, $pref, $max);
}

@function squarePadding($width, $text) {
  $height: $width;
  @return calc(($height - $text) / 2);
}

@function maxPadding($text) {
  @return calc($text + 2rem);
}

$navbar-values: (
  'text':
    navTextSize(
      map.get($vars, 'minTextSize-nav'),
      preferredTextSize(
        map.get($vars, 'fluidTextSize'),
        map.get($vars, 'relativeTextSize')
      ),
      map.get($vars, 'maxTextSize-nav')
    ),
  'boxWidth': oneThirdVisible(map.get($vars, 'visible-full')),
  'squareBox':
    squarePadding(
      oneThirdVisible(map.get($vars, 'visible-full')),
      navTextSize(
        map.get($vars, 'minTextSize-nav'),
        preferredTextSize(
          map.get($vars, 'fluidTextSize'),
          map.get($vars, 'relativeTextSize')
        ),
        map.get($vars, 'maxTextSize-nav')
      )
    ),
  'landscapeBox': maxPadding(map.get($vars, 'minTextSize-nav')),
);

$navbar: map-merge($vars, $navbar-values);

@function navbar($key) {
  @return map-get($navbar, $key);
}

@mixin nav-link {
  text-decoration: none;
  text-align: center;
  font-family: 'Alata';
}

// header stuff
@function headerTextSize($min, $pref, $max) {
  @return clamp($min, $pref, $max);
}

$header-values: (
  'text-h1':
    headerTextSize(
      map.get($vars, 'minTextSize-header'),
      preferredTextSize(
        map.get($vars, 'fluidTextSize'),
        map.get($vars, 'relativeTextSize')
      ),
      calc(map.get($vars, 'maxTextSize-header') * 2)
    ),
  'text-h2':
    headerTextSize(
      calc(map.get($vars, 'minTextSize-header') * 0.6),
      preferredTextSize(
        map.get($vars, 'fluidTextSize'),
        map.get($vars, 'relativeTextSize')
      ),
      calc(map.get($vars, 'maxTextSize-header') * 0.6)
    ),
);

$header: map-merge($vars, $header-values);

@function header($key) {
  @return map-get($header, $key);
}
